*.hidden.*
*.js
*.js.map
.nyc_output
.eslintrc.yml
.gitattributes
.gitignore
.npmignore
.travis.yml
coverage
CODEOWNERS
docs
issue_label_bot.yaml
issue_template.md
node_modules
package-lock.json
tslint.json
tslint.yml